In [2]:
# importar bibliotecas
import pandas as pd
import sqlite3

In [3]:
# Leitura do Arquivo
data_path = "sales_data.csv"
df = pd.read_csv(data_path)

In [14]:
# panorama dos dados - valores mínimos, máximos, médias, quartis -> assim é possível ver se tem algo errado logo de cara
df.describe()

       transaction_id  product_id    seller_id  sale_value
count       40.000000   40.000000    40.000000    40.00000
mean      1020.500000  508.700000  2001.950000   177.70000
std         11.690452    5.814218     0.814925    68.26239
min       1001.000000  501.000000  2001.000000    70.00000
25%       1010.750000  503.750000  2001.000000   127.50000
50%       1020.500000  508.000000  2002.000000   175.00000
75%       1030.250000  513.250000  2003.000000   220.00000
max       1040.000000  520.000000  2003.000000   310.00000

In [13]:
#verifica se tem valores nulos
df.isnull().any()

transaction_id    False
date              False
product_id        False
seller_id         False
sale_value        False
currency          False
dtype: bool

In [12]:
#verifica se tem linhas duplicadas
df.duplicated().any()

False

In [9]:
#verifica se tem seller_id duplicadas - faz sentido ter duplicados, pois um mesmo vendedor pode realizar diversas vendas
df.duplicated(subset=['seller_id']).any()

True

In [15]:
# conectar a um banco de dados relacional
# em seguida, enviar os dados para o banco
# caso a tabela já exista, adicionar os dados a ela.
# ao final, encerrar conexão
con = sqlite3.connect("sql_db")
df.to_sql("sales_data", con, if_exists="append", index="false")
con.close()